<link
  href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
  rel="stylesheet"
/>
<!-- Header -->
<div class="bg-gray-800 p-4 flex justify-center">
  <a
    href="#"
    class="inline-block p-2 text-purple-300 hover:text-indigo-100 mr-2"
    >Inicio</a
  >
  <a
    href="#"
    class="inline-block p-2 text-purple-300 hover:text-indigo-100 mr-2"
    >Ilustraciones</a
  >
  <a href="#" class="inline-block p-2 text-purple-300 hover:text-indigo-100"
    >Animaciones</a
  >
  <h2
    class="text-1xl md:text-3xl text-purple-300 inline-block text-purple-700 p-2 text-center"
  >
    Gotas de Neon
  </h2>
</div>
